.header {
  height: 200px; /* Вы можете изменить высоту в зависимости от ваших требований */

  margin: 35px;
}

.header-image {
  width: 150%;
  height: 100%;
  object-fit: cover; /* Это поможет изображению полностью заполнить контейнер */
}
