.big-button {
  font-size: 36px; /* Устанавливаем большой размер текста */
  padding: 20px 40px; /* Устанавливаем большие отступы для кнопки */
  background-color: #ff6b6b; /* Цвет фона кнопки */
  color: #ffffff; /* Цвет текста кнопки */
  border: none; /* Убираем границу кнопки */
  border-radius: 10px; /* Устанавливаем скругленные углы */
  cursor: pointer; /* Изменяем курсор при наведении */
  transition: background-color 0.3s ease; /* Добавляем плавный переход при изменении цвета фона */
}

.big-button:hover {
  background-color: #ff4d4d; /* Изменяем цвет фона при наведении */
}
